.login-dark {
    height: 100vh;
    background: #475d62;
    background-size: cover;
    position: relative;
    flex-direction: row;
    display: flex;
}

.rall-dark {
    height: 100vh;
    background: #475d62;
    background-size: cover;
    position: relative;
    flex-direction: column;
    display: flex;
}

.login-dark form {
    max-width: 80vw;
    width: 90%;
    background-color: #1e2833;
    padding: 40px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
    flex-direction: row;
    display: flex;
}

.login-dark .illustration {
    text-align: center;
    padding: 15px 0 20px;
    font-size: 100px;
    color: #2980ef;
}

.login-dark form .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #434a52;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
}

.login-dark form .btn-primary {
    background: #214a80;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    outline: none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
    background: #214a80;
    outline: none;
}

.login-dark form .forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
    opacity: 1;
    text-decoration: none;
}

.login-dark form .btn-primary:active {
    transform: translateY(1px);
}

.div-verif > a {
    width: 10vw;
    padding: 5px;
    color: black;
    text-align: center;
}

.div-verif > p {
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

#map2 {
    margin: auto;
    width: inherit;
    height: 60vh;
}
#map2 {
    margin: auto;
    width: calc(100% - 4vw);
    height: 60vh;
}

.titleHnt {
    width: 100%;
    text-align: center;
    padding-top: 2vw;
    color: white;
}

.myMapsBody {
    background-color: #1e2833;
    vertical-align: center;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.myMapsBodyExpanded {
    height: 80vh;
    transition: all 5s ease;
    line-height: normal;
}

#huntInfo {
    display: none;
    transition: all 2s ease;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1vw;
    margin-right: 1vw;
}

#huntInfo > button {
    height: 3vw;

}

.addQu-dark {
    height: 100vh;
    background: #475d62;
    background-size: cover;
    position: relative;
    flex-direction: row;
    display: flex;
}

.addQu-dark form {
    max-width: 49vw;
    width: 90%;
    height: 90%;
    background-color: #1e2833;
    padding: 40px;
    border-radius: 4px;
    position: relative;
    color: #fff;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
    flex-direction: row;
    display: flex;
    margin: auto;
}

.addQu-dark .illustration {
    text-align: center;
    padding: 15px 0 20px;
    font-size: 100px;
    color: #2980ef;
}

.addQu-dark form .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #434a52;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
}

.addQu-dark form .btn-primary {
    background: #214a80;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    outline: none;
}

.addQu-dark form .btn-primary:hover, .addQu-dark form .btn-primary:active {
    background: #214a80;
    outline: none;
}

.addQu-dark form .forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
}

.addQu-dark form .forgot:hover, .addQu-dark form .forgot:active {
    opacity: 1;
    text-decoration: none;
}

.addQu-dark form .btn-primary:active {
    transform: translateY(1px);
}

#questions_list {
    max-width: 49vw;
    width: 90%;
    height: 90%;
    background-color: #1e2833;
    padding: 40px;
    border-radius: 4px;
    position: relative;
    color: #fff;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
    flex-direction: column;
    display: flex;
    margin: auto;
}

.add_qu {
    background-color: #263b52;
    border-radius: 4px;
    margin-top: 1vh;
    flex-direction: row;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.rm_qu {
    background-color: #263b52;
    border-radius: 4px;
    margin-top: 1vh;
    flex-direction: row;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.quTit {
    padding-left: 2vh;
    padding-top: 1vh;
    margin: auto;
}

.quTxt {
    padding-left: 2vh;
    padding-bottom: 1vh;
    margin: auto;
}

.add_icon {
    height: 100%;
    margin-right: 3vh;
}

.add_icon i{
    position:relative;
    top: 30%;
    color: green;
}

#addedQu {
    width: 100%;
    position: relative;
    flex-direction: column;
    display: flex;
}

#playBody {
    max-width: 80vw;
    width: 90%;
    background-color: #1e2833;
    padding: 40px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
    flex-direction: row;
    display: flex;
}

#map {
    margin: auto;
    width: inherit;
    height: 60vh;
}