* {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.scoreboard{
    background: #475d62;
    background-size: cover;
    position: relative;
    padding: 5vh;
}

.ls_item{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-bottom: solid black 1px;
}

#boardguide{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    border-bottom: solid white 1px;
}

.win{
    color: yellow;
}

.lose{
    color: #35454f;
}